In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\neeha\anaconda3\lib\site-packages (1.7.7)
Requirement already satisfied: requests in c:\users\neeha\anaconda3\lib\site-packages (from tmdbv3api) (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\neeha\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\neeha\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\neeha\anaconda3\lib\site-packages (from requests->tmdbv3api) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\neeha\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.0.4)

In [3]:
links_18_22 = ["https://en.wikipedia.org/wiki/List_of_American_films_of_2018", "https://en.wikipedia.org/wiki/List_of_American_films_of_2019","https://en.wikipedia.org/wiki/List_of_American_films_of_2020","https://en.wikipedia.org/wiki/List_of_American_films_of_2021"]

In [4]:
def links(links_18_22):
    df_list = []
    for link in links_18_22:
        df1 = pd.read_html(link, header=0)[2]
        df2 = pd.read_html(link, header=0)[3]
        df3 = pd.read_html(link, header=0)[4]
        df4 = pd.read_html(link, header=0)[5]
        df_list.append(df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True))
    df = pd.concat(df_list, ignore_index=True)
    return df

df = links(links_18_22)

df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,5.0,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN
1,JANUARY,5.0,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN
2,JANUARY,5.0,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],NaN
3,JANUARY,10.0,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN
4,JANUARY,12.0,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN
...,...,...,...,...,...,...,...
1151,DECEMBER,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,NaN,[273]
1152,DECEMBER,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,NaN,[274]
1153,DECEMBER,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",NaN,[275]
1154,DECEMBER,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,NaN,[276]
1155,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'cdbb1e4678647e469c56099008e432cf'
# tmdb.api_key = 'https://api.themoviedb.org/3/search/movie?api_key=cdbb1e4678647e469c56099008e432cf'

In [8]:
from tmdbv3api import Movie
tmdb_movie = Movie()

def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if len(result)>0:
        movie_id = result[0].id
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        data_json = response.json()
        if data_json['genres']:
            genre_str = " " 
            for i in range(0,len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
        else:
            return np.NaN
    else:
        return np.NaN

In [9]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [10]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.,genres
0,JANUARY,5.0,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN,Horror Mystery Thriller
1,JANUARY,5.0,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN,Thriller Drama
2,JANUARY,5.0,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],NaN,Action Thriller
3,JANUARY,10.0,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN,Drama Western Thriller
4,JANUARY,12.0,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN,Action Thriller Mystery
...,...,...,...,...,...,...,...,...
1151,DECEMBER,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,NaN,[273],Drama War
1152,DECEMBER,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,NaN,[274],Drama Romance
1153,DECEMBER,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",NaN,[275],Drama
1154,DECEMBER,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,NaN,[276],Drama Mystery Fantasy
1155,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN,Comedy

In [11]:
df = df[['Title','Cast and crew','genres']]

In [14]:
df.dtypes

Title            object
Cast and crew    object
genres           object
dtype: object

In [21]:
df['Cast and crew'][0].split(" (director)")[0]

'Adam Robitel'

In [26]:
def get_director(x):
    try:
        if " (director)" in x:
            return x.split(" (director)")[0]
        elif " (directors)" in x:
            return x.split(" (directors)")[0]
        else:
            return x.split(" (director/screenplay)")[0]
    except:
        return np.NaN

In [27]:
df['director_name'] = df['Cast and crew'].map(lambda x: get_director(x))

<ipython-input-27-d27a6bf8d89f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['director_name'] = df['Cast and crew'].map(lambda x: get_director(x))

In [32]:
def get_actor1(x):
    try:
        return ((x.split("screenplay); ")[-1]).split(", ")[0])
    except:
        return None

In [33]:
df['actor_1_name'] = df['Cast and crew'].map(lambda x: get_actor1(x))

<ipython-input-33-603fbe2dd9d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['actor_1_name'] = df['Cast and crew'].map(lambda x: get_actor1(x))

In [36]:
def get_actor2(x):
    try:
        if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
            return np.NaN
        else:
            return ((x.split("screenplay); ")[-1]).split(", ")[1])
    except:
        return np.NaN

In [37]:
df['actor_2_name'] = df['Cast and crew'].map(lambda x: get_actor2(x))

<ipython-input-37-5ea8f0c1ebc3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['actor_2_name'] = df['Cast and crew'].map(lambda x: get_actor2(x))

In [38]:
def get_actor3(x):
    try:
        if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
            return np.NaN
        else:
            return ((x.split("screenplay); ")[-1]).split(", ")[2])
    except:
        return np.NaN

In [39]:
df['actor_3_name'] = df['Cast and crew'].map(lambda x: get_actor3(x))

<ipython-input-39-fc2fe3c8d5ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['actor_3_name'] = df['Cast and crew'].map(lambda x: get_actor3(x))

In [40]:
df = df.rename(columns={'Title':'movie_title'})

In [41]:
new_df = df.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [42]:
new_df['actor_2_name'] = new_df['actor_2_name'].replace(np.nan, 'unknown')
new_df['actor_3_name'] = new_df['actor_3_name'].replace(np.nan, 'unknown')

In [43]:
new_df['movie_title'] = new_df['movie_title'].str.lower()

In [44]:
new_df['comb'] = new_df['actor_1_name'] + ' ' + new_df['actor_2_name'] + ' '+ new_df['actor_3_name'] + ' '+ new_df['director_name'] +' ' + new_df['genres']

In [45]:
new_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,Drama Western Thriller,sweet country,Bryan Brown Sam Neill unknown Warwick Thornton...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
...,...,...,...,...,...,...,...
1151,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
1152,Denzel Washington,Michael B. Jordan,ChantÃ© Adams,Jalon Christian,Drama Romance,a journal for jordan,Michael B. Jordan ChantÃ© Adams Jalon Christian...
1153,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
1154,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin DÃ­az,Jeanne Balibar,Drama Mystery Fantasy,memoria,Apichatpong Weerasethakul (director/acreenplay...
1155,NaN,None,unknown,unknown,Comedy,NaN,NaN

In [48]:
new_to_old_df = pd.read_csv('new_data.csv')

In [49]:
final_df = new_to_old_df.append(new_df,ignore_index=True)

In [50]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,"CCH Pounder , Joel David Moore , Wes Studi , J..."
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,"Johnny Depp , Orlando Bloom , Jack Davenport ,..."
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,"Christoph Waltz , Rory Kinnear , Stephanie Sig..."
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,"Tom Hardy , Christian Bale , Joseph Gordon-Lev..."
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakensÂ ...,"Doug Walker , Rob Walker , Unknown , Doug Walk..."
...,...,...,...,...,...,...,...
6586,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
6587,Denzel Washington,Michael B. Jordan,ChantÃ© Adams,Jalon Christian,Drama Romance,a journal for jordan,Michael B. Jordan ChantÃ© Adams Jalon Christian...
6588,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
6589,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin DÃ­az,Jeanne Balibar,Drama Mystery Fantasy,memoria,Apichatpong Weerasethakul (director/acreenplay...
6590,NaN,None,unknown,unknown,Comedy,NaN,NaN

In [51]:
final_df.isna().sum()

director_name    1
actor_1_name     1
actor_2_name     0
actor_3_name     0
genres           5
movie_title      1
comb             6
dtype: int64

In [52]:
final_df = final_df.dropna(how='any')

In [53]:
final_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [54]:
final_df.shape

(6585, 7)

In [55]:
final_df.to_csv('final_data.csv',index=False)